@model Shared.Dtos.Users.UserDto

@using Client.Core.HtmlHelpers
@using Shared.Core.Constants
@using Shared.I18n.Constants

<div class="modal-backdrop fade in"></div>
<div class="modal fade in" style="display:block" id="@HtmlConstants.DIALOG_USER" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-dialog-close">&times;</button>
                <h4 class="modal-title">@Html.LocalizedDisplay(MessageKeyConstants.LABEL_ARTISTS)</h4>
            </div>
            @using (Html.BeginForm(WebConstants.VIEW_NEXT, WebConstants.CONTROLLER_USER, FormMethod.Post, new { @class = "asynchronous-form", @data_wizard_current_step = "0" }))
            {
                <div class="modal-body">
                    <div id="dialog-validation-summary"></div>
                    <div class="wizard-step" data-wizard-step="0">
                        @Html.HiddenFor(model => model.Id)
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-sm-2 form-control-required" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.LabelFor(model => model.Surname, new { @class = "control-label col-sm-2 form-control-required" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, new { @class = "control-label col-sm-2 form-control-required" })
                                <div class="col-sm-7">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="col-sm-3">
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Password, new { @class = "control-label col-sm-2 form-control-required" })
                                <div class="col-sm-7">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.RoleReference, new { @class = "control-label col-sm-2 form-control-required" })
                                <div class="col-sm-4">
                                    @Html.RemoteDropDownListFor(model => model.RoleId, "/Admin/Role/GetAllRoleReferences")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wizard-step" data-wizard-step="1">
                        @Html.RichTextBoxFor(model => model.Description)
                    </div>
                    <div class="wizard-step" data-wizard-step="2">
                        <div class="form-horizontal"> 
                            <div class="upload" data-upload-target=".uploaded-image" data-upload-mode="replace" data-return-file-type="image">
                                <input type="file" class="upload" />
                                <div class="profile-photo-upload">
                                    <img class="crop-image uploaded-image" data-min-width="@Model.ProfileGalleryDto.PhotoThumbnailInfo.MinimumWidth" data-min-height="@Model.ProfileGalleryDto.PhotoThumbnailInfo.MinimumHeight" data-id="@Model.ProfileGalleryDto.Id" data-path="" src="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-7">
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <button type="button" class="btn btn-default btn-dialog-close"><i class="fa fa-close"></i> @Html.LocalizedDisplay(MessageKeyConstants.LABEL_CLOSE)</button>
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> @Html.LocalizedDisplay(MessageKeyConstants.LABEL_SAVE)</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
