@model Shared.Dtos.Users.ChangePasswordDto

@using Client.Core.HtmlHelpers
@using Shared.Core.Constants
@using Shared.I18n.Constants

@*@{
    Culture = UICulture = Shared.Core.Utils.LocalizationUtils.GetCultureString();
}*@

<div class="modal-backdrop fade in"></div>
<div class="modal fade in" style="display:block" id="@HtmlConstants.DIALOG_CHANGE_PASSWORD" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                <h4 class="modal-title">@Html.LocalizedDisplay(MessageKeyConstants.LABEL_CHANGE_PASSWORD)</h4>
            </div>

            @using (Html.BeginForm(WebConstants.VIEW_CHANGE_PASSWORD, WebConstants.CONTROLLER_LOGIN, FormMethod.Post, new { @class = "asynchronous-form" }))
            {
                <div class="modal-body">
                    @Html.HiddenFor(model => model.UserId)
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <div id="dialog-validation-summary"></div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.OldPassword, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.NewPassword, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.NewPasswordAgain, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.PasswordFor(model => model.NewPasswordAgain, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-7">
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <button type="button" class="btn btn-default btn-dialog-close"><i class="fa fa-close"></i> @Html.LocalizedDisplay(MessageKeyConstants.LABEL_CLOSE)</button>
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> @Html.LocalizedDisplay(MessageKeyConstants.LABEL_SAVE)</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
