@using Client.Core.HtmlHelpers
@using Shared.Core.Constants
@using Shared.I18n.Constants
@using Shared.I18n.Utils
@using Shared.Core.Sessions

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Admin</title>
    @Styles.Render("~/Content/css-admin")

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
    @Html.Partial(WebConstants.VIEW_MESSAGE)
    <div class="wrapper">
        <header>
            <div class="header-left">
                MyArt
            </div>
            <div class="header-right">
                @Html.Partial("_TopMenuProfileBox", SessionProvider.GetInstance().GetSession<UserSession>(UserSession.SESSION_NAME).UserAuthenticationDto)
            </div>
        </header>
        <aside class="nav-vertical">
            @Html.Partial("_ProfileBox", SessionProvider.GetInstance().GetSession<UserSession>(UserSession.SESSION_NAME).UserAuthenticationDto)
            <nav>
                <ul class="nav">
                    <li>
                        @Html.LocalizedActionLink("<i class='fa fa-home'></i> " + ResourceUtils.GetString(MessageKeyConstants.LABEL_HOME), WebConstants.VIEW_INDEX, WebConstants.CONTROLLER_HOME, new { area = WebConstants.AREA_ADMIN }, new { id = "nav-home" })
                    </li>
                    <li>
                        <a href="#" class="nav-dropdown-toggle" data-toggle="collapse" data-target="#paintings-submenu" aria-expanded="false">
                            <i class='fa fa-image'></i> Obrazy
                        </a>
                        <ul class="nav collapse" id="paintings-submenu" role="menu">
                            <li>
                                @Html.LocalizedActionLink("<i class='fa fa-paint-brush'></i> " + ResourceUtils.GetString(MessageKeyConstants.LABEL_PAINTINGS), WebConstants.VIEW_INDEX, WebConstants.CONTROLLER_PAINTING, new { area = WebConstants.AREA_ADMIN }, new { id = "nav-paintings" })
                            </li>
                            <li>
                                @Html.LocalizedActionLink("<i class='fa fa-folder'></i> " + ResourceUtils.GetString(MessageKeyConstants.LABEL_COLLECTIONS), WebConstants.VIEW_INDEX, WebConstants.CONTROLLER_COLLECTION, new { area = WebConstants.AREA_ADMIN }, new { id = "nav-collections" })
                            </li>
                        </ul>
                    </li>
                    <li>
                    <li>
                        @Html.LocalizedActionLink("<i class='fa fa-group'></i> " + ResourceUtils.GetString(MessageKeyConstants.LABEL_ARTISTS), WebConstants.VIEW_INDEX, WebConstants.CONTROLLER_USER, new { area = WebConstants.AREA_ADMIN }, new { id = "nav-artists" })
                    </li>
                    <li>
                    <li>
                        @Html.LocalizedActionLink("<i class='fa fa-institution'></i> " + ResourceUtils.GetString(MessageKeyConstants.LABEL_EXHIBITIONS), WebConstants.VIEW_INDEX, WebConstants.CONTROLLER_EXHIBITION, new { area = WebConstants.AREA_ADMIN }, new { id = "nav-exhibition" })
                    </li>
                </ul>
            </nav>
        </aside>
        <div class="main-content">
            @RenderBody()
        </div>
    </div>
    <div id="modal-dialogs"></div>
    @Scripts.Render("~/bundles/scripts-admin")
    @RenderSection("scripts", required: false)
</body>
</html>