@model PagedList.IPagedList<Shared.Dtos.Paintings.PaintingDto>

@using Client.Core.HtmlHelpers
@using Shared.Core.Constants
@using PagedList.Mvc
@using Shared.I18n.Constants

<div id="@HtmlConstants.PAGED_LIST_PAINTING">
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr role="row">
                    <th class="th-icon"></th>
                    <th>@Html.LocalizedDisplay(MessageKeyConstants.LABEL_TITLE)</th>
                    <th>@Html.LocalizedDisplay(MessageKeyConstants.LABEL_TECHNIQUE)</th>
                    <th>@Html.LocalizedDisplay(MessageKeyConstants.LABEL_SURFACE)</th>
                    <th>@Html.LocalizedDisplay(MessageKeyConstants.LABEL_SIZE)</th>
                    <th class="th-administration-box"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if (item.CoverPhotoResourceDto == null)
                            {
                                <img src="~/Content/images/nophoto.png" alt="img" class="img-small" />
                            }
                            else
                            {
                                <img src="@item.CoverPhotoResourceDto.GetRelativeThumbnailFile()" alt="img" class="img-small" />
                            }
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                        <td>@Html.LocalizedDropDownDisplayFor(modelItem => item.Technique)</td>
                        <td>@Html.LocalizedDropDownDisplayFor(modelItem => item.Surface)</td>
                        <td>@Html.DisplayFor(modelItem => item.Width) x @Html.DisplayFor(modelItem => item.Height) cm</td>
                        <td>
                            @Html.LocalizedActionLink("<i class='fa fa-pencil-square-o'></i>", WebConstants.VIEW_DETAILS, WebConstants.CONTROLLER_PAINTING, new { id = item.Id }, new { title = MessageKeyConstants.LABEL_UPDATE })
                            @Html.DialogActionLink("<i class='fa fa-remove'></i>", HtmlConstants.DIALOG_CONFIRMATION, WebConstants.DIALOG_DELETE_CONFIRMATION, WebConstants.CONTROLLER_PAINTING, new { id = item.Id, messageResourceKey = MessageKeyConstants.DELETE_INFORMATION_MESSAGE, afterAction = WebConstants.VIEW_DELETE_CONFIRMED }, new { title = MessageKeyConstants.LABEL_DELETE })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (Model.PageCount > 1)
        {
            @*@Html.PagedListPager(Model, page => Url.Action(wEBConstants.VIEW_PAGED_LIST, new Shared.Core.Url.PageRouteValueDictionary(ViewBag.FilterDto, new Dictionary<string, object>() { { "page", page } })), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = HtmlConstants.PAGED_LIST_ROLE, LoadingElementId = "loading" }));*@
        }
    </div>
</div>
